
/*TODO delete this before push*/
html {
    overflow: overlay;
}

body {
    background-color: #F8F8FA;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    max-width: 1200px;
    padding: 30px 30px;
    background-color: #ffffff;
}

.form-block {
    margin-bottom: 40px;
}

.d-f {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.absolute-button-parent {
    position: relative;
}
.absolute-button {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    cursor: pointer;
    text-align: end;
}

.added-date-block {
    padding: 25px 20px;
    background-color: rgba(205, 177, 251, 0.1);
}


.large-icon {
    font-size: 51px;
    color: #ff2998 !important;
}
.box {
    width: 48px;
    height: 48px;
    background-color: #351767;
    display: flex;
    align-content: center;
    justify-content: center;
}
.box-text {
    align-self: center;
    color: #ffffff !important;
}

.full-field-w {
    width: 100% !important;
}


.el-input input {
    height: 58px;
    border: 1px solid var(--light-border-color);
}
.el-input input:hover {
    border: 1px solid var(--medium-boder-color);
}
.el-input input:focus {
    border: 1px solid var(--light-fill-color);
}


.el-textarea__inner {
    min-height:  193px!important;
    border: 1px solid var(--light-border-color);
}
.el-textarea__inner:hover {
    border: 1px solid var(--medium-boder-color);
}
.el-textarea__inner:focus {
    border: 1px solid var(--light-fill-color);
}


.form-btn {
    height: 58px;
    border: 1px solid var(--light-border-color);
    border-color: var(--light-border-color);
}
.form-btn:hover {
    border: 1px solid var(--medium-boder-color);
    border-color: var(--medium-boder-color) !important;
}
.form-btn:focus {
    border: 1px solid var(--light-fill-color);
}

.form-btn-filled {
    height: 58px;
    background-color: var(--light-fill-color);
    border: 1px solid var(--light-fill-color);
}
.form-btn-filled:hover {
    background-color: var(--medium-boder-color);
    border: 1px solid var(--medium-boder-color);
}
.form-btn-filled:focus {
    background-color: var(--light-fill-color);
    border: 1px solid var(--light-fill-color);
}
.divider {
    height: 2px;
    width: 20px;
    background-color: #cdb1fb;
}

.form-btn-filled>span {
    color: #ffffff!important;
}